$bluedark: #456D92;
$blue: #93B2CA;
$bluelight: #9FBED1;
$white: #F5F7F6;

@font-face {
    font-family: "telemarine1";
    src: url(../font/telemarines1.ttf);
}

@font-face {
    font-family: "Daltonemarine";
    src: url(../font/Dalton\ Marine.ttf);
}