@import "_mixin.scss";
@import "_variable.scss";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

// nav-bar

.navbar {
background-color: #456D92;
}
    


.nav-link, .navbar-brand, .h1 {
  font-family:"Kaushan Script", cursive;
  color: #F5F7F6;
}

.modal-link{
  font-family: "News Cycle", sans-serif;
  color: #F5F7F6;
  
}

h2, h3, h4, h5, h6 {
  font-family:"Kaushan Script", cursive;
  color: #F28132;
  font-size: 40px;
}

.login, .navbar-toggler {
  color: #F5F7F6;
}

.login{
  padding-left: 200px;
}

// end nav-bar 




// acceuil

.bg-img-acceuil {
    
background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
width: 100%;
min-height: 100vh;

}


li, a{
  font-family: "News Cycle", sans-serif;
}

.alex{
  font-family:"Kaushan Script", cursive;
  color: #F5F7F6;
}

.btn {

    display: inline-block;
    background-color: #F28132;
    color: #F5F7F6 ;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: "News Cycle", sans-serif;
    
  }
  
  .btn:hover {
    background-color: #e27e37;
  }

// end acceuil

// a propos


.container-about{
    background-color: #456D92;
    }

  .content {
    margin-top: 20px;
    padding: 10px;
    background-color: #F5F7F6; 
    border-radius: 5px;
    
  }
  
  .img-fluid {
   text-align: center;
   width: 350px;
  }



// end propos


// api
gmp-map {
  height: 100%;
}


// end api

// excursion

.container-excursion{
  min-height: 100;
  
}

.flt-excursion{
  background-color: #456D92;
}

.row-excursion{
  background-color: #9FBED1;
}

.btn-excursion{
  display: inline-block;
  background-color:  #93B2CA,;
  color: #F5F7F6 ;
  padding: 10px 20px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "News Cycle", sans-serif;
  
}

.btn-excursion:hover {
  background-color:  #9FBED1,;
}

.card {
    transition: transform 0.2s;
  }
  .card:hover {
    transform: scale(1.05);
  }
  .card-img-top {
    height: 250px; 
    object-fit: cover;
  }
  .card-title {
    color: #456D92; 
    font-family:"Kaushan Script", cursive;
    font-size: 40px;

  }

.excursion-card {
border: none;
background-color: #456D92; 
color: #F5F7F6; 
transition: transform 0.3s ease-in-out; /* Animation de transition */
}

.excursion-card:hover {
transform: translateY(-5px); /* Animation de survol */
}

.excursion-card img {
width: 100%;
height: auto;

}

.excursion-card .card-body {
padding: 1.5rem;
}

.excursion-card h5 {
color: #F28132; 
}

.excursion-card p {
font-size: 0.9rem;
}

// end excursion


// reservation
.container-reservation {
   background-color: #F5F7F6;
    min-height: 100vh;
  }
  
  .container-formulaire{
    background-color:  #93B2CA;
    
  }
  
  .form-group {
    margin-bottom: 1.5rem;
  }
// end reservation

// galerie

.carousel-dark {
 width: 700px;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color: #F28132;  /* Couleur de fond pour les icônes de contrôle */
  border-radius: 50%; /* Bordure arrondie pour les icônes de contrôle */
  width: 40px; /* Largeur des icônes de contrôle */
  height: 40px; /* Hauteur des icônes de contrôle */
}

.carousel-control-prev, .carousel-control-next {
  width: 5%; /* Largeur des boutons de contrôle */
}

.carousel-control-prev-icon::before, .carousel-control-next-icon::before {
  color: #000000; /* Couleur de l'icône de contrôle */
  font-size: 1.5rem; /* Taille de police de l'icône de contrôle */
}

.gallery-item {
  margin-bottom: 20px;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.gallery-item img {
  width: 100%;
  border-radius: 5px;
}

.gallery-item:hover {
  opacity: 0.8;
}


// end galerie


// contact

  .container-contact{
    background-color: #93B2CA;
  }

  .qr-code{
    width: 200px;
  }

// end contact
// footer

.back-to-top {
  display: none; /* Par défaut, le bouton est masqué */
  position: fixed; /* Position fixe pour le maintenir en haut de la fenêtre */
  bottom: 20px;
  right: 20px;
  background-color: #007bff; /* Couleur de fond du bouton */
  color: #fff; /* Couleur du texte */
  padding: 10px 20px; /* Espacement interne */
  border-radius: 5px; /* Coins arrondis */
  text-decoration: none; /* Pas de soulignement pour le lien */
  transition: opacity 0.3s ease; /* Animation de transition */
}

.back-to-top:hover {
  background-color: #0056b3; /* Couleur de fond au survol */
}

.footer {
    background-color: #456D92;
    color: #F5F7F6;
    padding: 50px 0;
  }
  
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .footer-section {
    flex: 1;
    margin-right: 20px;
  }
  
  .footer h2 {
    color:#F5F7F6;
    margin-bottom: 10px;
  }
  
  .footer p {
    font-size: 14px;
  }
  
  .footer ul {
    list-style: none;
    padding: 0;
  }
  
  .footer ul li {
    margin-bottom: 10px;
  }
  
  .footer ul li a {
    color: #F5F7F6;
    text-decoration: none;
  }
  
  .contact-input {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
  }
  
  
  
  .footer-bottom {
  
    background-color: #93B2CA;
    padding: 10px 0;
    text-align: center;
    font-size: 14px;
  }
// end footer