@import "_mixin.scss";
@import "_variable.scss";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";


// nav-bar

.navbar {
    background-color: $bluedark;
}
    


.nav-link, .navbar-brand, .h1 {
    font-family: "telemarine1",sans-serif;
    color: $white;
}


   

.login, .navbar-toggler {
    color: $white;
}

.login{
padding-left: 230px;
}





// end nav-bar 




// acceuil

.bg-img-acceuil {
    
background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
width: 100%;
min-height: 100vh;

}

.logo{
    width: 200px;
    height: 100px;
}

.btn{
    font-family: "Daltonemarine",sans-serif;

}




// end acceuil

// a propos


.h2, .t-alex{
    font-family: "telemarine1",sans-serif;
    color: $orange;
}

.p-apropos, .p-alex {
    font-family: "Daltonemarine",sans-serif;
}



.container-apropos{
    background-color: $bluedark;
   
}


// .bg-img-apropos {

// background-position: center;
// background-repeat: no-repeat;
// background-size: cover;
// background-attachment: fixed;
// width: 100%;
// min-height: 100vh;
// }

// end propos


